.fade-in {
    margin-top: 0px;
    font-size: 21px;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
.header {
  text-align: center;
  padding: 32px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.column img {
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.homepage-overlay{
  padding: 0px;
  min-height: 10vh;
}

body{
   background-image:url("ku-ku.jpg");
   -webkit-background-size:cover;
   background-size: cover;
   background-position: center;
   height: 100vh;
  text-align: center;
}

nav{
    position: center;
    width: 100%;
    height: 70px;
    max-width: 1400px;
    margin: 0 auto;
    z-index: 1;
    background: #038C8C;
}

body {
  margin: 0;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.header {
  text-align: center;
  padding: 32px;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.column img {
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container {
  overflow: hidden;
  margin: 0 auto;
}

nav {
  position: center;
  width: 100%;
  max-width: 1400px;
  margin: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 80px;
  padding: 20px;
  position: relative;
}
nav a {
  color: #444;
  text-decoration: none;
}

nav a:hover {
  color: #FFFEF9;
}
nav a::before{
  content:'';
  display: block;
  height: 5px;
  background-color:#444;

  position: absolute;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
width:100%;
}

div {
  min-height: 10vh;
  padding: 20px
}

h1, h2, h3, h4, h5, h6  {
  text-align: center;
}

h1  {
  font-size: 20em;
  padding: 5px;
}

h2  {
  font-size: 17em;
}

h3  {
  font-size: 14em;
}

p  {
  font-size: 1.2em;
  align: center;
  width: 80%;
  margin: 0 10vh 10vw 10vw;
  padding: 10px;
}

img {
  max-width: 1400px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

<style>
.homepage-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(117,266,205,1);
  z-index: 3;
  cursor: none;
}
.text{
  position: absolute;
  top:50%;
  left:50%;
  text-align: center;
  font-size: 50px;
  color:#FF6f7c ;
  font-family: 'Open Sans', sans-serif;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}
