.fade-in {
    margin-top: 0px;
    font-size: 21px;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
body{
   background-image:url("ku-ku.jpg");
   -webkit-background-size:cover;
   background-size: cover;
   background-position: center;
   height: 100vh
}
nav{
    position: center;
    width: 100%;
    height: 70px;
    max-width: 1400px;
    margin: 0;
    z-index: 1;
    background: #038C8C;
}
.navbar{
  overflow: hidden;
  text-align: center;
}
.navbar li a{
  text-decoration: none;
  color:#ACEBF2;
  letter-spacing:0px;
  display: block;
  padding:12px;
  font-size:1em;
  line-height: 50px;
  z-index: 1;
  position:relative;
}
.navbar li{
  list-style: none;
  display: inline-block;
}
.content{
  padding: 16px;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.sticky + .content {
  padding-top: 60px;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(117,266,205,0.5);
  z-index: 2;
  cursor: pointer;
}
