.fade-in {
    margin-top: 0px;
    font-size: 21px;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}

body{
   background-image:"contact.jpg";
   -webkit-background-size:cover;
   background-size: 100% 100%;
   background-position: center;
   height: 100%;
}

.container {
  overflow: hidden;
  margin: 0 auto;
}
header {
  background:  rgba(0, 214, 170, 0.85);
  width: 100%;
}

header::after {
  content:'';
  display: table;
  clear: both;
}

nav {
  position: center;
  width: 100%;
  max-width: 1400px;
  margin: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 80px;
  padding: 15px;
  position: relative;
}
nav a {
  color: #444;
  text-decoration: none;
}

nav a:hover {
  color: #FFFEF9;
}
nav a::before{
  content:'';
  display: block;
  height: 5px;
  background-color:#444;
  position: absolute;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
width:100%;
}




    /* input[type=text], select, textarea {
     width: 100%;
     padding: 12px;
     border: 1px solid #ccc;
     border-radius: 4px;
     box-sizing: border-box;
     margin-top: 6px;
     margin-bottom: 16px;
     resize: vertical

   }

   input[type=submit] {
     background-color: #4CAF50;
     color: white;
     padding: 12px 20px;
     border: none;
     border-radius: 4px;
     cursor: pointer;
   }

   input[type=submit]:hover {
     background-color: #45a049;

  }

.container {
  border-radius: 5px;
  background-color: #DEB887;
  padding: 20px;
} */

.fa {
  padding: 15px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;

}

.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #8B008B;
  color: white;
}
