body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

.container {
  overflow: hidden;
  margin: 0 auto;
}

header {
  background:  rgba(0, 214, 170, .5);
  width: 100%;
}

header::after {
  content:'';
  display: table;
  clear: both;
}

nav {
  position: center;
  width: 100%;
  max-width: 1400px;
  margin: 0;
}

nav ul{
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 80px;
  padding: 2px;
  position: relative;
}
nav a {
  color: #444;
  text-decoration: none;
}

nav a:hover {
  color: #FFFEF9;
}
nav a::before{
  content:'';
  display: block;
  height: 5px;
  background-color:#444;

  position: absolute;
  bottom: 0;
  width: 0%;
  transition: all ease-in-out 250ms;
}

nav a:hover::before {
width:100%;
}
